:root {
  --white-color: #ffffff;
  --primary-color: #ff4400;
  --section-bg-color: #f0f8ff;
  --dark-color: #000000;
  --grey-color: #d0d1d1;
  --p-color: #717275;

  --body-font-family: 'Inter', sans-serif;

  --h5-font-size: 24px;
  --p-font-size: 20px;
  --copyright-text-font-size: 16px;
  --product-link-font-size: 14px;
  --custom-link-font-size: 12px;

  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}

@media (min-width: 992px) {
  .slick-slideshow {
    height: 100vh;
  }
}

.slick-slideshow {
  margin-top: 86px;
}

.slick-title {
  color: var(--white-color);
}

.slick-custom {
  position: relative;
}

.slick-custom img {
  width: 100%;
  object-fit: cover;
}

.slick-bottom {
  background: linear-gradient(to top, var(--dark-color), transparent 90%);
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slick-bottom .container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.slick-overlay {
  background: linear-gradient(to top, #000, transparent 120%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slick-slideshow .custom-btn {
  font-weight: var(--font-weight-bold);
  display: inline-block;
  padding-right: 32px;
  padding-left: 32px;
}

.slick-slideshow .slick-dots {
  position: absolute;
  z-index: 2;
  width: 40px;
  margin: 0 auto;
  top: 50%;
  right: 50px;
  transform: translate(0, -50%);
  padding: 0;
  bottom: initial;
}

.slick-slideshow .slick-dots li {
  background: transparent;
  border: 5px solid rgba(255, 255, 255, 0.35);
  border-radius: 100%;
  display: block;
  width: 30px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  margin-left: auto;
  cursor: pointer;
}

.slick-slideshow .slick-dots button {
  background: transparent;
  border: none;
  color: transparent;
  display: block;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  outline: none;
  height: 0;
}

.slick-slideshow .slick-dots li:hover,
.slick-slideshow .slick-dots .slick-active {
  background: var(--white-color);
}

.slick-slideshow .slick-dots button:before {
  content: '';
}

.custom-btn {
  font-size: 14px;
  padding: 13.5px 20px;
}

.slick-slideshow .custom-btn {
  padding-right: 27px;
  padding-left: 27px;
}

.slick-slideshow .custom-btn {
  background: var(--dark-color);
  border-radius: 50px;
  color: var(--white-color);
  font-size: var(--copyright-text-font-size);
  text-transform: uppercase;
  padding: 16.5px 20px;
}

.custom-btn:hover,
.slick-slideshow .custom-btn:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.slick-slideshow .custom-btn {
  font-weight: var(--font-weight-bold);
  display: inline-block;
  padding-right: 32px;
  padding-left: 32px;
}

.custom-btn {
  font-size: 14px;
  padding: 13.5px 20px;
}

@media (max-width: 576px) {
  .slick-slideshow .slick-dots {
    right: 12px;
  }
}
