/*---------------------------------------
  CONTACT              
-----------------------------------------*/
.container .contact-info {
  padding: 40px;
}

.contact-form .form-control {
  border-color: var(--grey-color);
  font-weight: var(--font-weight-normal);
}

.form-floating > label {
  color: var(--grey-color);
  font-weight: var(--font-weight-normal);
}

.contact-form button[type='submit'] {
  background: var(--dark-color);
  border: none;
  border-radius: 100px;
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  padding: 16px;
}

.contact-form button[type='submit']:hover {
  background: var(--primary-color);
}

/*---------------------------------------
  PRODUCT               
-----------------------------------------*/
.front-product {
  background: var(--section-bg-color);
  margin-bottom: 7rem;

  @media (max-width: 991px) {
    margin-bottom: 4rem;
  }
}

.product-thumb {
  background: var(--white-color);
  position: relative;
  transition: all 0.5s ease-out;
}

.product-thumb.small {
  padding: 50px;
}

.product-image {
  transition: all 0.5s ease-out;
}

.product-thumb:hover .product-image {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.product-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 20px;
}

.product-info {
  padding: 30px 20px;
}

.product-description,
.product-cart-thumb {
  padding: 0 20px;
}

.product-icon {
  color: var(--white-color);
}

.product-title-link {
  color: var(--dark-color);
}

.product-additional-link {
  display: inline-block;
  vertical-align: top;
  font-size: var(--product-link-font-size);
  margin-top: 32px;
  margin-right: 12px;
}

.product-alert {
  background: var(--white-color);
  color: var(--p-color);
  font-size: var(--custom-link-font-size);
  font-weight: var(--font-weight-bold);
  padding: 3px 10px;
}

.product-p {
  font-size: var(--product-link-font-size);
}

.view-all {
  text-transform: uppercase;
  color: var(--p-color);
  font-size: 13px;
  font-weight: var(--font-weight-bold);
  border-bottom: 2px solid var(--grey-color);
  padding-bottom: 6px;
}

/*---------------------------------------
  SITE HEADER              
-----------------------------------------*/
.site-header {
  background-color: var(--section-bg-color);
  position: relative;
  overflow: hidden;
  margin-top: 86px;
}

.site-header.section-padding {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.site-header.section-padding-img {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.navbar .header-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color: #ffffff;
  --primary-color: #ff4400;
  --section-bg-color: #f0f8ff;
  --dark-color: #000000;
  --grey-color: #d0d1d1;
  --p-color: #717275;

  --body-font-family: 'Inter', sans-serif;

  --h5-font-size: 24px;
  --p-font-size: 20px;
  --copyright-text-font-size: 16px;
  --product-link-font-size: 14px;
  --custom-link-font-size: 12px;

  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}

/*---------------------------------------
  CUSTOM LINK               
-----------------------------------------*/
.app .custom-link {
  color: var(--p-color);
  font-size: var(--custom-link-font-size);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  position: relative;
}

.custom-link i {
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 100%;
  transition: all 0.3s;
  line-height: normal;
}

.custom-link:hover i {
  opacity: 1;
  left: 101%;
}

.lead {
  font-size: 1.5rem;
  font-weight: var(--font-weight-light);
}

b,
.app strong {
  font-weight: var(--font-weight-bold);
}

body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  background: var(--white-color);
  font-family: var(--body-font-family) !important;
  position: relative;
}

.app {
  /*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--dark-color);
    line-height: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--font-weight-bold);
  }

  h1,
  h2 {
    font-weight: var(--font-weight-black);
  }

  h1 {
    font-size: 64px;
    line-height: normal;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 32px;
  }

  h5 {
    font-size: 24px;
  }

  h6 {
    font-size: 20px;
  }

  p {
    color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-light);
  }

  a,
  button {
    touch-action: manipulation;
    transition: all 0.3s;
  }

  a {
    color: var(--p-color);
    text-decoration: none;
  }

  a:hover {
    color: var(--primary-color);
  }

  .text-primary {
    color: var(--primary-color) !important;
  }

  ::selection {
    background: var(--primary-color);
    color: var(--white-color);
  }

  /*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
  @media screen and (max-width: 1200px) {
    h1 {
      font-size: 62px;
    }
  }

  @media screen and (max-width: 991px) {
    h1 {
      font-size: 42px;
      margin-bottom: 0;
    }

    h2 {
      font-size: 36px;
    }

    h3 {
      font-size: 32px;
    }

    h4 {
      font-size: 28px;
    }

    h5 {
      font-size: 24px;
    }

    h6 {
      font-size: 20px;
    }

    .lead {
      font-size: 16px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
      margin-top: 1rem;
    }

    .site-header {
      background-position: bottom;
    }

    #cart-modal .modal-header .btn-close {
      margin: 22px 14px;
    }

    .custom-btn {
      font-size: 14px;
      padding: 13.5px 20px;
    }

    .slick-slideshow .custom-btn {
      padding-right: 27px;
      padding-left: 27px;
    }

    .social-login,
    .div-separator {
      width: 75% !important;
    }

    #cart-modal .modal-footer .row {
      width: 100% !important;
    }

    .site-header.section-padding,
    .section-padding {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    .site-header-image.section-padding {
      padding-bottom: 0;
    }

    .header-info {
      padding-top: 50px;
      padding-bottom: 100px;
    }

    .header-image {
      position: relative;
      top: auto;
      bottom: 0;
      left: 0;
      width: auto;
      height: auto;
    }

    .slick-testimonial-caption {
      padding: 6rem 3rem 4rem 3rem;
    }

    .slick-slideshow .slick-dots li {
      width: 25px;
      height: 25px;
    }

    .modal-header {
      padding-top: 6rem;
      padding-bottom: 2rem;
    }

    .modal-body {
      padding: 2rem;
    }

    #cart-modal .modal-footer {
      padding-right: 0;
      padding-left: 0;
    }

    #cart-modal .modal-body {
      padding: 4rem 2rem 2rem 2rem;
    }

    .full-image-img {
      bottom: 0;
    }
  }

  #languages {
    padding: 4px 6px;
    border-radius: 6px;
  }

  @media (max-width: 991px) {
    .language-container {
      margin: 16px 20px;
    }
  }

  .lead {
    font-size: 1.5rem;
    font-weight: var(--font-weight-light);
  }
}

/*---------------------------------------
  SITE FOOTER               
-----------------------------------------*/
.site-footer {
  background: var(--dark-color);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.footer-menu {
  margin: 0;
  padding: 0;
}

.footer-menu-item {
  display: block;
  width: 100%;
}

.footer-menu-link {
  color: #6c757d;
  font-weight: var(--font-weight-light);
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-bottom: 4px;
}

.site-footer .social-icon-link {
  margin-top: 4px;
}

.site-footer .social-icon-link:hover,
.footer-menu-link:hover {
  color: var(--white-color);
}

.footer .copyright-text {
  font-size: var(--copyright-text-font-size);
}

/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  color: #6c757d;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 4px;
  margin-right: 15px;
}

.social-icon-link:hover {
  color: var(--primary-color);
}
